*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    
}
 
.div{
    height:20px;
    width: 20px;
    margin-bottom:-5px;
    display: inline-block;
    background-color: red;
    cursor: pointer;

}
#button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: red;
}

#button_container>button{
    height: 50px;
    width: 500px;
}