*{
    padding: 0px;
    margin:0px;
    background-color:white ;
}
a{
    margin-top: 1%;
    font: bolder;
    font-family: roboto;
    margin-left: 40%;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    outline: none;
    width:fit-content ;
}  
a:hover{
    text-decoration: underline;
    transition: 1s;
}
#container{
    border: black solid 1px;
    margin-top: 15px;
    background-color:#919ea5;
    height: 500px ;
    width:  927px;
    border-radius: 15px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap:4px;    
    margin-left: 25%;
    overflow: hidden;
}
.div1{
    
    display: inline-block;   
    margin-top: 5px;
    background-color:rgb(246, 250, 233);
    width: 50px;
    text-align: center;
    vertical-align: auto;
    cursor: pointer;
}
.div1:hover{
    background-color:rgb(105, 105, 107);
}
.div1:active{
    background-color:rgb(96, 96, 99);
}

#btn1{
    vertical-align:middle;
    cursor: pointer;
    height: 35px;
    width: 120px;
    margin-top: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: rgb(87, 87, 87) solid 2px;
    font-family: roboto;
    font-size: 13PX;
    font-weight: bold;
}
#btn1:hover{
    transition: 0.5s;
    color: whitesmoke;
    background-color: rgb(87, 87, 87);
    transition: 0.5s;
    
}
#btn1:active{
    background-color: rgb(41, 28, 28);
    transition: 0.5;
}

#btn2{
    margin-left: 5px;
    vertical-align:middle;
    cursor: pointer;
    height: 35px;
    width: 120px;
    margin-top: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: rgb(87, 87, 87) solid 2px;
    font-family: roboto;
    font-size: 13PX;
    font-weight: bold;
}
#btn2:hover{
    color: whitesmoke;
    background-color: rgb(87, 87, 87);
    transition: 0.5s;
    
}
#btn2:active{
    transition: 0.5s;
    background-color: rgb(41, 28, 28)
    
}
#btn1{
    margin-left: 25%;
}